# Pandas bootcamp

https://pandasbootcamp.herokuapp.com/

In [1]:
%%file bootcamp1.tsv
date	num	num2	str	str2
2014-02-01	663	431.396160	boy	red
2014-02-09	643	422.855973	girl	red
2014-02-18	158	48.205905	boy	blue
2014-03-19	263	242.969867	boy	yellow
2014-03-26	876	60.587023	boy	purple
2014-03-29	944	769.996271	boy	green
2014-04-21	75	835.692630	girl	red
2014-05-18	79	99.810889	boy	purple
2014-06-12	842	544.683391	boy	purple
2014-07-09	3	868.341070	boy	yellow
2014-08-06	521	42.628203	girl	red
2014-09-23	247	110.183157	boy	red
2014-09-29	701	939.721699	boy	yellow
2014-10-15	835	711.579429	girl	blue
2014-10-21	640	633.604265	boy	yellow
2014-11-19	727	237.534784	girl	red
2015-01-21	715	169.189147	boy	green
2015-02-19	508	662.156362	boy	red
2015-02-24	298	859.427413	girl	yellow
2015-04-10	684	659.694331	girl	green
2015-06-11	905	117.203320	girl	blue
2015-06-14	977	576.147780	girl	blue
2015-07-14	538	739.206595	boy	yellow
2015-07-22	68	879.446180	girl	blue
2015-07-27	437	162.084731	boy	green
2015-07-29	419	449.273961	boy	red
2015-07-30	500	589.384323	boy	green
2015-08-14	753	283.https://pandasbootcamp.herokuapp.com/460551	girl	yellow
2015-08-25	292	652.074501	boy	green
2015-09-05	209	63.404787	boy	purple
2015-10-02	298	400.493463	girl	green
2015-10-05	399	299.972968	boy	green
2015-10-05	571	58.570900	girl	purple
2015-10-12	655	610.143245	boy	blue
2015-11-16	638	430.080939	girl	green
2015-11-22	179	237.256851	girl	blue
2015-12-10	353	541.081251	girl	red
2015-12-12	684	46.488439	boy	red
2016-04-09	831	55.519112	girl	yellow
2016-04-09	951	687.240484	girl	yellow
2016-04-30	289	754.413019	girl	red
2016-05-12	32	986.133777	girl	purple
2016-05-23	63	344.635461	girl	purple
2016-06-06	712	634.034360	boy	purple
2016-06-24	800	216.198437	boy	green
2016-07-11	403	87.872617	boy	red
2016-09-08	21	494.308010	boy	yellow
2016-09-14	565	79.563044	boy	green
2016-09-21	428	202.313860	girl	green
2016-09-22	460	565.415256	boy	green

Writing bootcamp1.tsv

In [3]:
import pandas as pd

In [27]:
df = pd.read_csv('bootcamp1.tsv', delimiter='\t', parse_dates=True)
earliest = df[df['date'] == df['date'].min()]
result, = (earliest['num'] - earliest['num2']).values
result

231.60384000000005

In [28]:
%%file bootcamp2.tsv
Pandas Bootcamp

date	num	num2	str	str2
2014-03-19	989	931.433333	girl	yellow
2014-04-01	299	457.610045	girl	blue
2014-05-15	109	485.188116	girl	green
2014-05-18	740	205.706471	boy	yellow
2014-05-19	259	22.160529	girl	yellow
2014-05-31	482	914.970070	girl	yellow
2014-06-24	424	345.931005	boy	red
2014-07-03	897	710.997391	boy	yellow
2014-07-12	365	918.453764	boy	red
2014-07-24	156	135.273739	boy	yellow
2014-07-31	16	908.126265	girl	yellow
2014-10-06	975	91.660146	girl	purple
2014-10-29	36	729.769868	boy	red
2014-11-04	449	390.806579	girl	red
2014-11-30	517	555.375993	boy	purple
2014-12-13	804	319.616147	girl	green
2015-01-05	174	629.065720	boy	blue
2015-02-19	167	840.140143	boy	purple
2015-03-02	721	211.583033	boy	green
2015-03-03	554	48.738002	girl	blue
2015-03-06	339	959.654915	boy	blue
2015-03-12	970	875.130925	boy	green
2015-04-04	497	776.021489	boy	purple
2015-04-10	181	180.206955	girl	green
2015-04-30	348	999.251139	boy	red
2015-05-07	570	954.350178	boy	green
2015-05-11	677	180.727701	girl	green
2015-05-21	750	671.088331	boy	blue
2015-07-29	400	174.821474	boy	purple
2015-11-01	132	882.789025	boy	green
2016-01-09	63	141.145834	boy	red
2016-01-21	952	195.574950	boy	blue
2016-01-22	319	833.798559	girl	yellow
2016-02-03	322	533.223166	girl	green
2016-02-25	286	190.804209	boy	blue
2016-03-07	951	780.581858	boy	blue
2016-03-14	774	659.288279	girl	yellow
2016-04-11	143	440.066966	boy	red
2016-04-14	916	843.169470	girl	purple
2016-04-16	483	857.519467	girl	blue
2016-05-06	547	854.941835	boy	purple
2016-06-01	132	962.545298	boy	green
2016-06-05	772	903.660721	girl	blue
2016-06-27	866	662.843370	girl	yellow
2016-07-03	397	771.970807	boy	green
2016-08-02	191	292.201484	girl	red
2016-08-22	160	62.561427	boy	green
2016-08-25	865	212.907342	boy	green
2016-09-02	680	768.457790	girl	purple
2016-09-24	1	479.408738	girl	green

Writing bootcamp2.tsv

In [32]:
df = pd.read_csv('bootcamp2.tsv', delimiter='\t', skiprows=2)

In [34]:
df['num2'].mean()

559.06640122

In [1]:
%%file bootcamp3.tsv
Pandas Bootcamp

date	num	num2	str	str2
2014-01-11	425	316.980166	girl	yellow
2014-01-14	380	753.987245	boy	red
2014-03-03	504	683.604602	girl	green
2014-03-19	92	54.103423	girl	yellow
2014-03-22	652	458.135051	boy	red
2014-05-04	78	754.538073	boy	blue
2014-05-18	360	238.759123	girl	blue
2014-06-10	517	830.540505	boy	purple
2014-07-19	822	826.162928	girl	purple
2014-08-17	712	361.156380	boy	purple
2014-08-29	155	524.199506	boy	red
2014-09-17	232	374.757023	girl	purple
2014-09-20	502	841.795939	boy	blue
2014-10-01	898	616.012001	boy	green
2014-10-13	465	700.375645	boy	yellow
2014-10-16	88	842.862302	girl	purple
2014-12-30	707	560.122707	boy	green
2015-01-08	240	585.791341	boy	purple
2015-01-13	947	188.948914	boy	green
2015-01-30	795	721.538255	boy	red
2015-02-27	55	449.128106	boy	green
2015-03-04	504	156.417901	boy	green
2015-04-24	739	723.670925	boy	blue
2015-06-06	290	413.591839	boy	purple
2015-06-13	836	463.234865	boy	yellow
2015-06-25	289	720.606904	boy	red
2015-06-26	105	561.145244	boy	red
2015-07-01	192	690.666830	boy	purple
2015-07-02	384	96.705835	girl	blue
2015-09-12	668	748.279469	boy	green
2015-10-05	699	100.475509	boy	yellow
2015-10-20	777	342.218190	girl	purple
2015-11-03	20	736.263230	girl	purple
2015-11-10	342	716.622462	girl	red
2015-12-07	835	52.116061	boy	blue
2015-12-23	479	710.700008	boy	yellow
2016-01-02	38	188.787582	boy	green
2016-01-31	765	924.163054	boy	yellow
2016-02-20	304	606.213815	boy	blue
2016-02-26	69	416.569350	girl	purple
2016-03-07	757	128.622282	boy	yellow
2016-05-01	454	245.508640	girl	yellow
2016-05-03	229	279.101912	boy	green
2016-06-17	246	911.940265	girl	purple
2016-07-04	791	685.360372	boy	blue
2016-08-01	289	216.389045	boy	green
2016-08-12	458	386.966497	girl	purple
2016-08-15	916	543.228738	boy	blue
2016-08-23	824	267.902308	girl	red
2016-09-20	380	501.423946	girl	purple

Overwriting bootcamp3.tsv

In [3]:
import pandas as pd
df = pd.read_csv('bootcamp3.tsv', delimiter='\t', skiprows=2)

In [5]:
sums = df.groupby('str').sum()
sums

        num          num2
str
boy   16828  17259.042023
girl   6477   7959.350290

In [6]:
sums.loc['boy', 'num']

16828

In [49]:
df[df['str'] == 'boy']['num'].sum()

16828

In [7]:
%%file bootcamp4.tsv
Pandas Bootcamp

date	num	num2	str	str2
2014-01-02	97	569.572320	boy	purple
2014-01-19	460	974.935766	girl	yellow
2014-01-21	989	436.263500	girl	yellow
2014-02-16	439	953.438446	girl	blue
2014-04-04	112	486.978815	girl	yellow
2014-05-01	739	482.150378	girl	blue
2014-05-14	617	627.349695	girl	green
2014-06-08	258	748.490738	boy	yellow
2014-06-14	627	679.897534	girl	yellow
2014-07-10	708	578.400840	girl	green
2014-08-30	649	335.045781	girl	yellow
2014-08-30	528	996.830337	boy	green
2014-09-04	161	867.246292	boy	green
2014-09-29	164	661.445575	boy	yellow
2014-10-28	230	422.476554	girl	purple
2014-10-28	318	982.028435	boy	yellow
2014-11-01	377	924.494862	girl	purple
2014-11-30	549	653.950097	girl	blue
2014-12-01	26	778.754410	boy	purple
2014-12-14	90	942.687870	boy	blue
2014-12-28	614	572.836111	boy	blue
2015-01-11	988	789.138854	girl	red
2015-04-27	614	321.318443	girl	yellow
2015-05-16	929	669.390434	girl	green
2015-05-29	449	472.638162	girl	yellow
2015-07-08	915	391.840372	boy	yellow
2015-07-16	988	450.994443	girl	red
2015-07-30	99	787.530102	boy	blue
2015-08-04	964	188.273812	girl	yellow
2015-08-29	587	317.978754	girl	green
2015-09-09	838	70.636845	girl	green
2015-10-21	167	640.797087	boy	green
2015-12-14	527	908.070246	boy	blue
2015-12-19	562	64.103513	boy	purple
2015-12-24	985	189.088120	boy	red
2016-01-06	100	388.447901	girl	green
2016-01-17	254	518.057217	boy	green
2016-01-28	518	267.122756	girl	green
2016-03-04	704	742.864890	girl	yellow
2016-04-04	827	741.301791	boy	yellow
2016-04-05	799	195.608335	girl	red
2016-05-10	4	340.484478	boy	yellow
2016-05-29	728	147.594808	boy	green
2016-06-10	628	359.328103	girl	purple
2016-07-04	357	529.696059	boy	green
2016-08-18	464	601.406913	girl	blue
2016-08-27	683	881.393584	boy	yellow
2016-08-30	105	905.976737	girl	purple
2016-09-08	317	777.645155	boy	blue
2016-09-25	433	414.769892	boy	yellow

Overwriting bootcamp4.tsv

In [1]:
import pandas as pd
df = pd.read_csv('bootcamp4.tsv', delimiter='\t', skiprows=2)

In [2]:
(df['num'] > df['num2']).astype(int).sum()

21