# Pandas bootcamp - ZadaÄ‡a

In [1]:
import numpy as np
import pandas as pd

Ako zelimo ucitat iz prilozene csv datoteke onda treba postaviti ovu celiju na Code,
a dvije Code celije ispod na Markdown.

podaci = pd.read_csv('Pandas Bootcamp.csv', encoding='utf-8')
podaci.head()

Radi jednostavnosti ispravljanja, kopirat cemo dirktno podatke u DataFrame.

In [2]:
podaci = pd.DataFrame([["2014-03-04","300","952.832706","boy","green"],
["2014-03-31","428","465.364555","boy","red"],
["2014-04-11","723","878.203092","boy","green"],
["2014-05-11","860","194.985889","girl","yellow"],
["2014-05-27","155","460.987946","boy","red"],
["2014-05-27","437","694.223097","boy","green"],
["2014-06-29","720","387.680953","boy","red"],
["2014-08-17","696","774.897015","girl","green"],
["2014-08-20","786","199.430695","girl","blue"],
["2014-09-26","873","183.592237","boy","red"],
["2014-10-23","357","102.774363","boy","red"],
["2014-10-29","497","119.828422","girl","yellow"],
["2014-11-25","322","119.102962","boy","green"],
["2014-11-28","964","579.369511","boy","purple"],
["2014-12-03","320","247.427160","girl","yellow"],
["2014-12-23","62","787.836626","boy","yellow"],
["2015-01-01","212","310.383853","girl","yellow"],
["2015-02-01","97","498.973685","girl","blue"],
["2015-02-16","774","110.680015","girl","blue"],
["2015-02-18","291","843.984553","girl","yellow"],
["2015-02-26","200","768.264990","boy","green"],
["2015-03-01","37","249.788150","boy","yellow"],
["2015-03-02","977","809.167848","boy","blue"],
["2015-03-03","356","508.627272","girl","purple"],
["2015-04-05","11","445.899128","boy","yellow"],
["2015-04-07","58","277.709841","boy","purple"],
["2015-04-21","926","949.267018","boy","purple"],
["2015-05-02","596","963.376961","boy","green"],
["2015-06-04","387","712.491756","boy","yellow"],
["2015-07-11","422","562.153338","girl","yellow"],
["2015-08-13","723","260.237361","boy","purple"],
["2015-08-14","629","224.010859","boy","blue"],
["2015-08-20","858","528.584456","girl","purple"],
["2015-09-07","153","999.563128","girl","purple"],
["2015-10-01","411","900.576673","boy","red"],
["2015-10-06","721","832.925401","boy","red"],
["2015-10-09","905","44.905768","boy","blue"],
["2015-12-01","404","534.427466","boy","purple"],
["2015-12-29","672","909.304653","girl","yellow"],
["2016-03-22","365","44.381779","girl","green"],
["2016-03-28","732","972.696331","girl","purple"],
["2016-04-01","146","273.671177","girl","yellow"],
["2016-04-03","65","338.246237","boy","blue"],
["2016-05-19","875","520.096337","girl","yellow"],
["2016-05-30","960","29.565442","boy","blue"],
["2016-06-01","861","326.040039","boy","yellow"],
["2016-06-18","828","451.811979","boy","yellow"],
["2016-07-20","799","85.787864","boy","blue"],
["2016-08-07","48","162.637139","girl","green"],
["2016-09-14","213","467.285634","boy","purple"]],
         columns=["date","num","num2","str","str2"])

podaci.head()

         date  num        num2   str    str2
0  2014-03-04  300  952.832706   boy   green
1  2014-03-31  428  465.364555   boy     red
2  2014-04-11  723  878.203092   boy   green
3  2014-05-11  860  194.985889  girl  yellow
4  2014-05-27  155  460.987946   boy     red

Trebamo jos postavit prave tipove podataka u stupacima, kakvi bi bili da smo ucitali csv datoteku.

In [3]:
podaci['num'] = pd.to_numeric(podaci['num'])
podaci['num2'] = pd.to_numeric(podaci['num2'])

#### Zadatak 1:
Find the least popular string in column str2. Filter by str2 where the string equals the least popular string. Find the sum of column num.

In [4]:
podaci.loc[podaci["str2"] == podaci["str2"].value_counts().index.tolist()[-1], "num"].sum()

3665

In [9]:
import pandas as pd
podaci['str2'].value_counts()

yellow    15
purple    10
blue       9
green      9
red        7
Name: str2, dtype: int64

#### Zadatak 2:
Find the row with the smallest date. Subtract num - num2.

In [5]:
float(podaci.loc[podaci['date'] == podaci['date'].min(), 'num'] - podaci.loc[podaci['date'] == podaci['date'].min(), 'num2'])

-652.832706

#### Zadatak 3:
What is the average of column num2?

In [6]:
podaci['num2'].mean()

481.3212272

#### Zadatak 4:
Create a new column called "Letter". This column is the sum of the lengths of columns str and str2. Then divide the column num by Letter. Pick the second smallest number.

In [14]:
podaci['num'] / (podaci['str'].str.len() + podaci['str2'].str.len())

0      37.500000
1      71.333333
2      90.375000
3      86.000000
4      25.833333
5      54.625000
6     120.000000
7      77.333333
8      98.250000
9     145.500000
10     59.500000
11     49.700000
12     40.250000
13    107.111111
14     32.000000
15      6.888889
16     21.200000
17     12.125000
18     96.750000
19     29.100000
20     25.000000
21      4.111111
22    139.571429
23     35.600000
24      1.222222
25      6.444444
26    102.888889
27     74.500000
28     43.000000
29     42.200000
30     80.333333
31     89.857143
32     85.800000
33     15.300000
34     68.500000
35    120.166667
36    129.285714
37     44.888889
38     67.200000
39     40.555556
40     73.200000
41     14.600000
42      9.285714
43     87.500000
44    137.142857
45     95.666667
46     92.000000
47    114.142857
48      5.333333
49     23.666667
dtype: float64

In [10]:
podaci['Letter'] = [len(a) for a in list(podaci['str'] + podaci['str2'])]
(podaci['num'] / podaci['Letter']).nsmallest(2).iloc[-1]

4.111111111111111

Ako zelimo rjesenje u jednom retku bez da zapravo kreiramo novi stupac:

In [8]:
(podaci['num'] / (list(len(a) for a in list(podaci['str'] + podaci['str2']))) ).nsmallest(2).iloc[-1]

4.111111111111111

#### Zadatak 5:
Group by str and find the sum of column num where the index is boy.

In [9]:
podaci.groupby('str').get_group('boy')['num'].sum()

16052